@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&family=Rubik:wght@500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
}

:root {
    --blue-primary: #0A3C6F;
    --blue-secondary: #3F6AA0;
    --blue-terciary: #1B77D4;
    --gray:#222222;
    --white--primary: #FFFFFF;
    --white-secondary: #FEFEFF;
    --black: #000000;
}

/******ESTILIZANDO HEADER*******/

.navbar{
    height: 6rem;
    background-color: var(--blue-primary) !important;
}

.navbar-toggler-icon{
    font-size: 2.5rem;
}

.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.container{
    font-size: 2rem;
}

.logo{
    padding: 0.5rem;
    width: 6rem;
    height: 5rem;
}

.navbar-collapse{
    margin: 1rem;
    justify-content: flex-end;
}

.nav-link{
    color: var(--white-secondary) !important;
    font-size: bold;
}

.nav-item:hover{
    background-color: var(--blue-terciary);
    border-radius: 0.5rem;
    transition: 0.4s;
}

.elementos-lista:hover{
    color: var(--blue-primary);
    font-size: bold;
}

/*********************SECCION INICIO ( PORTADA ) **********************/

.portada{
    background-image: url(/assets/portada/Recurso\ 1.png);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.portada-contenedor{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo__img-portada{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 13rem;
    width: 100%;
    gap: 5rem;
}

.titulo__Portada{
    color: var(--white-secondary);
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    font-family: 'Rubik', sans-serif;
}

.img-contenedor{
    border-radius: 100%;
    background-color: var(--white--primary);
    width: 52rem;
    padding: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.img__portada{
    border-radius: 100%;
}

@media screen and (min-width: 768px) and (max-width: 990px){
    .navbar{
        height: 8rem;
    }

    .logo{
        padding-left: 1rem;
        width: 8rem;
        height: 7rem;
    }    

    .navbar-collapse{
        margin: 0;
        text-align: center;
        background-color: var(--blue-secondary);
        border-radius: 1rem;
        flex-direction: column;
        justify-content: center;
    }

    .navbar-nav{
        gap: 1rem;
        width: 100%;
    }


    .titulo__img-portada{
        flex-direction: column;
        gap: 10rem;
        margin: 25rem;
    }
    
    .titulo__Portada{
        font-size: 6rem;
        text-align: center;
        padding: 0;
    }

    .img-contenedor{
        width: 34rem; 
    }

    .img__portada{
        width: 32rem;
    }
}

@media screen and (max-width: 768px){
    .navbar-collapse{
        margin: 0;
        text-align: center;
        background-color: var(--blue-secondary);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 30rem !important;
    }

    .navbar-nav{
        gap: 1rem;
        width: 90%;
    }

    .logo{
        padding-left: 1rem;
        width: 6rem;
        height: 5rem;
    }    

    .titulo__img-portada{
        flex-direction: column;
        gap: 10rem;
    }
    
    .titulo__Portada{
        font-size: 3rem;
        text-align: center;
        padding-bottom: 0;
    }
    
    .img-contenedor{
        width: 22rem; 
    }

    .img__portada{
        width: 20rem;
    }
}

/*********************SECCION NOSOTROS **********************/

.contenedor-nosotros{
    margin-bottom: 8rem;
    background-color: var(--white-secondary);
}

.titulo-principal-nosotros{
    margin: 5rem;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Rubik', sans-serif;
}

.row{
    justify-content: space-evenly;
    padding-top: 7rem;
}

.col-nosotros{
    width: 35rem !important;
}

.img__nosotros{
    border-radius: 100%;
    width: 35rem;
}

.contenedor-texto-nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.titulo-nosotros{
    font-size: 3rem;
    font-weight: bold;
}

.parrafo-nosotros{
    text-align: justify;
    font-size: 2rem ;
}

@media screen and (min-width: 768px) and (max-width: 990px){
    .row{
        gap: 8rem;
    }

    .titulo-principal-nosotros{
        margin: 5rem;
        font-size: 8rem;
    }

    .titulo-nosotros{
        font-size: 5rem;
    }

    .parrafo-nosotros{
        font-size: 3rem ;
        margin: 4rem;
    }
}

@media screen and (max-width: 768px){
    .col-nosotros{
        width: 22rem !important;
    }

    .img__nosotros{
        border-radius: 100%;
        width: 22rem;
    }

    .row{
        gap: 8rem;
    }

    .titulo-principal-nosotros{
        margin: 2rem;
        font-size: 4.5rem;
    }

    .titulo-nosotros{
        margin: 2rem;
    }

    .parrafo-nosotros{
        margin: 2rem;
    }
}

/*********SECCION SERVICIOS************/

.section-servicios{
    background-color: var(--white-secondary);
}

.contenedor-servicios{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    margin-bottom: 5rem;
}

.parrafo-servicios-descripcion{
    font-size: 2rem;
    justify-content: center;
}

.img-contenedor-servicios{
    border: 3px solid;
    width: 15rem;
    height: 15rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo-servicios{
    margin: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.parrafo-servicios{ 
    font-size: 2rem;
}

.btn{
    margin: 1rem;
    width: 8rem;
    height: 3rem;
    font-weight: bold !important;
    font-size: 1.2rem !important;
}

@media screen and (max-width: 768px){
    .parrafo-servicios-descripcion{
        margin: 1rem;
        text-align: justify;
        padding-top: 4rem;
    }

    .parrafo-servicios{
        margin: 1rem;
    }

    .btn{
        width: 15rem;
        height: 5rem;
        font-size: 1.5rem !important;
    }
}