* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    font-size: 'Roboto', sans-serif;;
}

:root {
    --blue-primary: #07396C;
    --blue-secondary: #3F6AA0;
    --blue-terciary: #1B77D4;
    --gray:#222222;
    --white--primary: #FFFFFF;
    --white-secondary: #FEFEFF;
    --black: #000000;
}

/******ESTILIZANDO HEADER*******/

.navbar{
    height: 5rem;
    background-color: var(--white--primary) !important;
}

.container{
    font-size: 2rem;
}

.logo{
    width: 3.5rem;
    height: 3.5rem;
}

.navbar-collapse{
    justify-content: flex-end;
}

.nav-link{
    color: var(--black) !important;
    font-size: bold;

}

.nav-link:hover{
    color: var(--white-secondary) !important;
}

.nav-item:hover{
    background-color: var(--blue-terciary);
    border-radius: 0.5rem;
    transition: 0.4s;
}

.dropdown-menu{
    width: 13rem;
    height: auto;
    gap: 1rem;
}

.item-menu{
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    margin: 1rem;
}

.elementos-lista:hover{
    color: var(--blue-primary);
    font-size: bold;
}

.navbar-toggler{
    border: none !important;
}

.navbar-toggler-icon{
    color:  var(--black);
    font-size: 2rem;
}